@custom-variant dark (&:is(.dark *));

@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";
}

/* Base styles */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}