@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --accent: #22d3ee; /* cyan-400 */
  --card-bg: #000000;
  --border: #171717; /* neutral-900 */
}

body {
  background-color: #0a0a0a;
  color: var(--foreground);
  font-family: var(--font-sans);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
